tornado
trio
matplotlib-inline
charset-normalizer
h11
wcwidth
stack-data
pyzmq
sniffio
pure-eval
urllib3
binaryornot
jupyter_client
prompt-toolkit
parso
virtualenv
zipp
python-slugify
idna
distlib
cookiecutter
markdown-it-py
sortedcontainers
traitlets
django-pandas
rich
executing
asttokens
certifi
platformdirs
typing_extensions
importlib_metadata
nest-asyncio
jedi
wsproto
ptyprocess
mdurl
pexpect
chardet
filelock
jupyter_core
psutil
trio-websocket
