{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto flex justify-center items-center py-6">
    <div class=" p-6 w-full max-w-md bg-gradient-to-br from-pink-500 to-blue-500 rounded-xl shadow-md">

<form  method="POST" enctype="multipart/form-data" action="{% url 'generate_pdf' %}" class="mx-auto mt-8 mb-8   ">
  {% csrf_token %}
<div class="grid lg:grid-cols-2 md:grid-cols-2 gap-x-8  sm:grid-cols-2 ">

  <div class="col-span-2 md:col-span-1 lg:col-span-1">
    <label
      for="supplier_id"
      class="block text-sm font-semibold leading-6 text-gray-900"
      >Supplier</label
    >
    <div class="mt-2.5"></div>
    <select
      name="supplier"
      id="supplier_id"
      class="block w-full form-control rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    >
      <option></option>
      {% for supplier in suppliers %}
      <option value="{{ supplier.id }}" >{{ supplier.name }}</option>
      {% endfor %}
    </select>
  </div>
  <!-- Customer Field -->

  <div class="col-span-2 md:col-span-1 lg:col-span-1">
    <label
      for="customer_id"
      class="block text-sm font-semibold leading-6 text-gray-900"
      >Customer</label
    >
    <div class="mt-2.5"></div>
    <select
      name="customer"
      id="customer_id"
      class="block  form-control w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    >
      <option></option>
      {% for customer in customers %}
      <option value="{{ customer.id }}" >{{ customer.name }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Start Date Field -->
  <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
    <label for="start_at" class="block text-sm font-semibold leading-6 text-gray-900">Created At</label>
    <div class="mt-2.5">
      <input type="date" required name="start_at" id="start_at" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required >
      {% comment %} '%d-%m-%Y'  %d %b %Y{% endcomment %}
    </div>
  </div>

  <!-- End Date Field -->
  <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
    <label for="end_at" class="block text-sm font-semibold leading-6 text-gray-900">Created At</label>
    <div class="mt-2.5">
      <input type="date" required name="end_at" id="end_at" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required >
    </div>
  </div>

  <div class="col-span-2 mt-5 flex justify-center">
<button
type="submit"
class=" bg-white text-blue-500 px-4 py-2 rounded hover:bg-blue-500 hover:text-white"
data-te-ripple-init
data-te-ripple-color="light">
Generate PDF
</button>
</div>

</div> 

</form>
</div> 
</div> 

<script>
  $(document).ready(function () {
      $("#customer_id").select2({
          placeholder: "Select a Customer",
          allowClear: true,
          theme: "classic"
      });

      $("#supplier_id").select2({
          placeholder: "Select a Supplier",
          allowClear: true,
          theme: "classic"
      });
  });
</script>

{% endblock %}
<!-- Modal -->
