{% extends "base.html" %} 
{% block page_title %}
{% if form.instance.id %} Update Payment {% else %} Create Payment {% endif %}
{% endblock %}

{% block content %}

<div class="isolate bg-white px-6 py-5 sm:py-5 lg:px-4 add-bg">
  {% if form.errors %}
  <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
    role="alert"
  >
    <strong class="font-bold">Oops! There was an error.</strong>
    <ul class="list-disc ml-5">
      {% for field in form %} {% for error in field.errors %}
      <li>{{ field.label }}: {{ error|escape }}</li>
      {% endfor %} {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>  <!-- Top Div Closed Error Div -->
<div class="h-3/4 w-full bg-blue-300 p-10 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 border border-gray-100">

    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        {% if form.instance.id %} Update Ledger {% else %} Create Ledger {% endif %}
      </h1>
    </div>
    <form
    method="POST"
    enctype="multipart/form-data"
    class="mx-auto mt-16 sm:mt-20"
    >
    {% csrf_token %}
    <div class="grid lg:grid-cols-4 md:grid-cols-3 gap-x-8 gap-y-6 sm:grid-cols-2">
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <!-- Bank Field -->
        <div class= "col-span-2 md:col-span-1 lg:col-span-1">
          <label
            for="bank"
            class="block text-sm font-semibold leading-6 text-gray-900"
            >Bank</label
          >
          <div class="mt-2.5"></div>
          <select
            name="bank"
            id="bank_id"
            class="block w-full form-control rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          >
            <option></option>
            {% for bank in form.bank.field.queryset %}
            <option value="{{ bank.id }}" {% if bank.id == form.initial.bank %}selected{% endif %}>{{ bank.name }}</option>
            {% endfor %}
          </select>
        </div>
        

        <!-- Supplier Field -->
        <div class= "col-span-2 md:col-span-1 lg:col-span-1">
          <label
            for="supplier"
            class="block text-sm font-semibold leading-6 text-gray-900"
            >Supplier</label
          >
          <div class="mt-2.5"></div>
          <select
            name="supplier"
            id="supplier_id"
            class="block w-full form-control rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          >
            <option></option>
            {% for supplier in form.supplier.field.queryset %}
            <option value="{{ supplier.id }}" {% if supplier.id == form.initial.supplier %}selected{% endif %}>{{ supplier.name }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- Customer Field -->

        <div class= "col-span-2 md:col-span-1 lg:col-span-1">

          <label
            for="customer"
            class="block text-sm font-semibold leading-6 text-gray-900"
            >Customer</label
          >
          <div class="mt-2.5"></div>
          <select
            name="customer"
            id="customer_id"
            class="block  form-control w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          >
            <option></option>
            {% for customer in form.customer.field.queryset %}
            <option value="{{ customer.id }}" {% if customer.id == form.initial.customer %}selected{% endif %}>{{ customer.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Payemnt Field -->
        <div class= "col-span-2 md:col-span-1 lg:col-span-1">
          <label
            for="payment"
            class="block text-sm font-semibold leading-6 text-gray-900"
            >Payment</label
          >
          <div class="mt-2.5">
            <input
              type="text"
              name="payment"
              id="currency"
              autocomplete="off"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              value="{% if form.instance.payment %}{{ form.instance.payment }}{% endif %}"
            />
          </div>
        </div>
        <!-- Payemnt Date -->
       
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
          <label
            for="payment_date"
            class="block text-sm font-semibold leading-6 text-gray-900"
            >Payement Date</label
          >
          <div class="mt-2.5">
            <input
              type="datetime-local"
              name="payment_date"
              id="payment_date"
              autocomplete="off"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              value="{{ form.instance.payment_date|date:'Y-m-d\TH:i' }}"
            />
          </div>
        </div>
        <!-- Description -->

        <div class="col-span-2 md:col-span-1 lg:col-span-1">
          <label for="description" class="block text-sm font-semibold leading-6 text-gray-900">
            Description
          </label>
          <div class="mt-2.5">
            <textarea
              id="description"
              name="description"
              rows="4"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder="Enter description..."
            >{{ form.instance.description }}</textarea>
          </div>
        </div>

        <!-- Upload file -->
          <div class="flex items-center justify-center  bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 rounded-lg h-1/4 mt-8">
          <div class="max-w-md w-full space-y-8">
            <div class="text-center">
              <label for="file-upload" class="ml-5 px-4 py-2 align-middle hover:bg-blue-100 relative cursor-pointer bg-white rounded-lg font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 shadow-lg">
                <span class="px-4 py-2">Upload Payment</span>
                <input id="file-upload" name="file-upload" type="file" class="absolute top-[-10px] left-[-50px] file-upload-css opacity-0 cursor-pointer">
              </label>
              <p id="file-name" class="text-center pt-2 pl-5">or drag and drop</p>
              <p class="text-xs text-gray-500 text-center pl-5">PNG, JPG</p>
            </div>
          </div>
        </div>
         
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
          <label
              for="transaction_type"
              class="block text-sm font-semibold leading-6 text-gray-900"
          >Transaction Type</label
          >
          <div class="mt-2.5"></div>
          {% for radio in form.transaction_type %}
          <label>
              {{ radio.tag }}
              {{ radio.choice_label }}
          </label>
          {% endfor %}
      </div>
      

        
        <div class="col-span-4 flex justify-center mt-6">
          <div class="flex items-center space-x-4">
            <!-- Update or Save Ticket button -->
            <button
              type="submit"
              class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
            >
              {% if form.instance.id %} Update Ledger {% else %} Save Ledger {% endif %}
            </button>
            <button
              type="submit"
              name="save_and_add_another"
              class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
            >
              {% if form.instance.id %} Add Another {% else %} Add Another {% endif %}
            </button>
            
          </div>
        </div>
      </form>
    </div>
  </div>

    <script>
      $(document).ready(function () {
          $("#customer_id").select2({
              placeholder: "Select a Customer",
              allowClear: true,
              theme: "classic"
          });
  
          $("#supplier_id").select2({
              placeholder: "Select a Supplier",
              allowClear: true,
              theme: "classic"
          });
          $("#bank_id").select2({
            placeholder: "Select a Bank",
            allowClear: true,
            theme: "classic"
        });
      });
  </script>
  
    {% endblock %}
