
{% extends 'base.html' %}
{% load static%}
{% block page_title %}
{% if form.instance.id %} Update Visa {% else %} Create Visa {% endif %}
{% endblock %}



{% block content %}
<div class="h-full mt-10  w-full bg-teal-200 p-10 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 border border-gray-100">

<div class="mx-auto max-w-2xl text-center">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{% if form.instance.id %} Update Visa {% else %} Create Visa {% endif %}</h1>
    <h5 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">Today's Riyal Price: {{price}}</h5>
  </div>
  {% if form.errors %}
  <ul>
    {% for field in form %}
      {% for error in field.errors %}
        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
<form  id="visa-form" method="POST" enctype="multipart/form-data" class="mx-auto mt-16  sm:mt-20">
    {% csrf_token %}
    <input type="hidden" id="user" name="user" value="{{ request.user.id }}">
    <div class="grid lg:grid-cols-4 md:grid-cols-3 gap-x-8 gap-y-6 sm:grid-cols-2">

      
      <!-- Supplier Field -->

    <div class=" col-span-2 md:col-span-1 lg:col-span-1">
        <label
          for="supplier_id"
          class="block text-sm font-semibold leading-6 text-gray-900"
          >Supplier</label
        >
        <div class="mt-2.5"></div>
        <select
          required
          name="supplier"
          id="supplier_id"
          class="block w-full form-control rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
          <option></option>
          {% for supplier in form.supplier.field.queryset %}
          <option value="{{ supplier.id }}" {% if supplier.id == form.initial.supplier %}selected{% endif %}>{{ supplier.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Customer Field -->
      <div class="col-span-2 md:col-span-1 lg:col-span-1">
        <label
          for="customer_id"
          class="block text-sm font-semibold leading-6 text-gray-900"
          >Customer</label
        >
        <div class="mt-2.5"></div>
        <select
          required
          name="customer"
          id="customer_id"
          class="block  form-control w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
          <option></option>
          {% for customer in form.customer.field.queryset %}
          <option value="{{ customer.id }}" {% if customer.id == form.initial.customer %}selected{% endif %}>{{ customer.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Pass Name Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="pass_name" class="block text-sm font-semibold leading-6 text-gray-900">Name</label>
        <div class="mt-2.5">
          <input type="text" name="pass_name" required id="pass_name" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{% if form.instance.pass_name %}{{ form.instance.pass_name }}{% endif %}">
        </div>
      </div>


      <!-- Pass num Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="pass_num" class="block text-sm font-semibold leading-6 text-gray-900">Passport Number</label>
        <div class="mt-2.5">
          <input type="text" name="pass_num" required id="pass_num" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{% if form.instance.pass_num %}{{ form.instance.pass_num }}{% endif %}">
        </div>
      </div>


      
      <!-- Purchase PKR Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="purchase_pkr" class="block text-sm font-semibold leading-6 text-gray-900">Purchase PKR</label>
        <div class="mt-2.5">
          <input type="text" name="purchase_pkr" id="purchase_pkr"   autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{% if form.instance.purchase_pkr %}{{ form.instance.purchase_pkr }}{% endif %}">
      </div>
      </div>

      <!-- Sale PKR Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="sale_pkr" class="block text-sm font-semibold leading-6 text-gray-900">Sale PKR</label>
        <div class="mt-2.5">
          <input type="text"  name="sale_pkr"  id="sale_pkr" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{% if form.instance.sale_pkr %}{{ form.instance.sale_pkr }}{% endif %}">
        </div>
      </div>
      
      
      <!-- Visa Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="visa_type" class="block text-sm font-semibold leading-6 text-gray-900">Visa Type</label>
        <div class="mt-2.5">

      <select name="visa_type" id="visa_type" class = "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        {% for value, name in form.fields.visa_type.choices %}
            <option value="{{ value }}" {% if value == form.initial.visa_type %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
        </select>
        </div>
        </div>


      <!-- Duration Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="duration" class="block text-sm font-semibold leading-6 text-gray-900">Duration</label>
        <div class="mt-2.5">

      <select name="duration" id="duration" class = "block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        {% for value, name in form.fields.duration.choices %}
            <option value="{{ value }}" {% if value == form.initial.duration %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
        </select>
        </div>
        </div>

      <!-- Purchase Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="purchase" class="block text-sm font-semibold leading-6 text-gray-900">Purchase SAR</label>
        <div class="mt-2.5">
          <input type="text" name="purchase"  id="visa_purchase" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{% if form.instance.purchase %}{{ form.instance.purchase }}{% endif %}">
        </div>
      </div>

      
      <!-- Sale Field-->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="sale" class="block text-sm font-semibold leading-6 text-gray-900">Sale SAR</label>
        <div class="mt-2.5">
          <input type="text" name="sale" id="visa_sale"   autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{% if form.instance.sale %}{{ form.instance.sale }}{% endif %}">
      </div>
      </div>
     


        <!-- CREATED AT Field -->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="created_at" class="block text-sm font-semibold leading-6 text-gray-900">Created At</label>
        <div class="mt-2.5">
          <input type="datetime-local" name="created_at" id="created_at" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form.instance.created_at|date:'Y-m-d\TH:i' }}">
        </div>
      </div>

      <!-- Riyal Rate -->
      <div class= 'col-span-2 md:col-span-1 lg:col-span-1'>
        <label for="riyal_rate" class="block text-sm font-semibold leading-6 text-gray-900">riyal</label>
        <div class="mt-2.5">
          <input type="text"  name="riyal_rate" required id="riyal_rate" autocomplete="off" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
          value="{{price}}">
        </div>
      </div>

      <div class="col-span-2 lg:col-span-4 flex justify-center mt-6">
        <div class="flex items-center space-x-4">
          <!-- Update or Save Ticket button -->
          <button type="submit" id="visa-form" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
            {% if form.instance.id %} Update Visa {% else %} Save Visa {% endif %}
          </button>
        </div>
      </div>
    </div>
</div>
    
</form>

</div>
<script>
    $(document).ready(function () {
        $("#customer_id").select2({
            placeholder: "Select a Customer",
            allowClear: true,
            theme: "classic"
        });

        $("#supplier_id").select2({
            placeholder: "Select a Supplier",
            allowClear: true,
            theme: "classic"
        });
    });
</script>
  

{% endblock %}
