{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content%}
<div class="h-full mt-10  w-full bg-teal-200 p-10 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 border border-gray-100">

<form method="POST">
  <div class=" grid lg:grid-cols-6 md:grid-cols-6 gap-x-8 gap-y-6 sm:grid-cols-2">
    {% crispy form %}
    <button type="submit" id="bank_btn" class="bg-green-500 hover:bg-green-700 text-white font-bold px-4 py-2 rounded mt-8">
        Submit
        </button>
  </div>
</form>
<div>
{% endblock %}
