<div class="flex justify-center my-4">
    <ul class="flex list-none">
        {% if objects.has_previous %}
            <li class="mr-2">
                <a href="?page=1" class="text-blue-500 hover:text-blue-700">First</a>
            </li>
            <li class="mr-2">
                <a href="?page={{ objects.previous_page_number }}" class="text-blue-500 hover:text-blue-700">Previous</a>
            </li>
        {% endif %}
        <li class="mr-2">
         Page  {{ objects.number}} of {{ objects.paginator.num_pages}}
      </li>
        {% if objects.has_next %}
            <li class="mr-2">
                <a href="?page={{ objects.next_page_number }}" class="text-blue-500 hover:text-blue-700">Next</a>
            </li>
            <li class="mr-2">
                <a href="?page={{ objects.paginator.num_pages }}" class="text-blue-500 hover:text-blue-700">Last</a>
            </li>
        {% endif %}
    </ul>
</div>