{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class="bg-white rounded-lg shadow-md p-6">
    <h3 class="text-2xl font-bold text-gray-800 mb-4">Enter New Password</h3>
    <p class="text-gray-700 mb-2">
        Please enter your password twice so we can verify it you typed it correctly.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class=" grid lg:grid-cols-6 md:grid-cols-6 gap-x-8 gap-y-6 sm:grid-cols-2 mx-10">
            {{ form|crispy }}
          <div>
          <input type="submit" name="Update Password" class="mx-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-8">
        </div>
          
        </div>
      </form>
</div>


{%endblock%}